*{
    font-family:'Shadows Into Light Two', cursive;
}
.hiddenDiv {
	display: none;
}

.displayInfo {
	display: block;
}

.form-group.displayInfo{
    background-color: lightblue;
    width: 300px;
    margin-left: 300px;
    margin-top: 15px;
    
}